:root {
  --primary-color: #03045e;
  --secondary-color: #0077b6;
  --tertiary-color: #00b4d8;
  --quaternary-color: #90e0ef;
  --quinary-color: #caf0f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  background: var(--tertiary-color);
}

header {
  display: flex;
  background-color: var(--quinary-color);
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  display: inline;
  color: white;
  margin: 10px 0;
  background: var(--secondary-color);
  padding: 20px 20px 20px 150px;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 20px;
  padding: 10px 60px 10px 20px;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header nav ul li a {
  font-size: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--primary-color);
  margin: 20px;
}

.hero {
  background-image: url("../imgs/hockey-arena.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: -360px -400px;
  display: flex;
  height: 400px;
}

/* .hero div {
  background: var(--quinary-color);
  width: auto;
  height: 40px;
  bottom: 20px;
  right: 20px;
  position: fixed;
} */