:root {
  --primary-color: #03045e;
  --secondary-color: #0077b6;
  --tertiary-color: #00b4d8;
  --quaternary-color: #90e0ef;
  --quinary-color: #caf0f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  background: var(--tertiary-color);
  /* max-width: 1920px; */
}

header {
  display: flex;
  background-color: var(--quinary-color);
  justify-content: space-between;
  flex-wrap: wrap;
  /* max-width: 1920px; */
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  display: inline;
  color: white;
  margin: 10px 0;
  background: var(--secondary-color);
  padding: 20px 20px 20px 150px;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 20px;
  padding: 10px 60px 10px 20px;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header nav ul li a {
  font-size: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--primary-color);
  margin: 20px;
}

section h2 {
  color: var(--primary-color);
  padding-right: 10px;
  border-right: 2px solid var(--primary-color);
  font-size: 36px;
  text-align: end;
}

.hero {
  background-image: url("../imgs/hockey-arena.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  height: 450px;
  background-position-y: -750px;
  max-width: 100vw;
}

.hero div {
  background: var(--quinary-color);
  width: auto;
  height: 40px;
  bottom: 20px;
  right: 20px;
  position: fixed;
}

.all-about-me {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  /* flex-wrap: wrap; */
}

.all-about-me h2 {
  height: 262px;
  width: 22vw;
}

.all-about-me p {
  color: var(--primary-color);
  font-size: 18px;
  width: 70vw;
  line-height: 1.5;
}


.big-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

.work {
  width: 65vw;
}

.small-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.work-item1 {
  width: 70vw;
}

.item {
  flex: 0;
}


.item img {
  border: 8px solid var(--primary-color);
  opacity: 0.5;
  transition: opacity 0.3s;
}

img:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.image1 {
  max-width: 71vw;
}

.work-image {
  max-width: 32vw;
  /* max-height: 20vh; */
}